body{
    background:#F1E4B0;
  }
  
  #main{
    font-family: monospace;
    width:80%;
    margin:auto;
    background:white; 
    display:grid;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    grid-template-rows: auto auto 5fr 1fr; 
    grid-template-areas:
      "header header header header"
       "image-placeholder quote-holder quote-holder quote-holder"
      ". main-info main-info main-info"
      "footer footer footer footer";
  }
  
  #header{
    grid-area: header; 
    background-color: #ECC7A4;
  }
  
  
  #title{
    text-align:center;
    font-size: 3em;
    color: #795B40;
  }
  
  #subheader{
    text-align:center;
    font-size: 2em;
    font-weight:normal;  
    color: #967D66;
  }
  
  
  #img-div { 
    grid-area: image-placeholder;   
    padding: 1em;
    margin: 1em;    
    width:auto;
    background:white; 
    
  }
  
  img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    padding:0;
  }
  
  #image{
    border-radius:50%;
  }
  
  #img-caption{
   margin-left:2em;
    font-size:small;
    text-align:justify;
    margin-top:2em;
  }
  
  #quote-wrapper { 
      grid-area: quote-holder; 
     background-color: #F6E8DB;    
    padding: 1em;
    margin: 1em;    
      display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
  }
  
  blockquote{
    color:#9d7956;
    font-size:x-large;
    padding:1em;
   }
  
  #tribute-info { 
    grid-area: main-info;
  }
  
  #main-content h2{
    text-align:center;
    padding-bottom:1em;
  }
  
  #tribute-info ul{
    padding:1.2em;
    margin:1.2em;  
  }
  
  #tribute-info li{
   line-height: 2em;
    font-size:large;
  }
  
  
  footer{
    grid-area: footer;
     background-color:#ECC7A4;
    padding:3rem;
    text-align:center;
    font-size:1.2em;
    color:#7a5c3f;  
  }
  
  
  